.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center {
  display: flex;
  width: 100%;
  max-width: 1920px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 210mm) {
  .main {
    height: fit-content;
  }

  .center {
    flex-direction: column-reverse;
    gap: 16px;
  }
}