.editor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-self: start;
  gap: 4rem;
  width: 100%;
}

.editor label, .editor h4 {
  letter-spacing: var(--p-letter-spacing);
}

.editor h4 {
  position: relative;
  margin-bottom: 1rem;
}

.editor h4:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #00d161;
  bottom: -0.75rem;
  left: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.inputContainerWithBtn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  align-items: center;
}

.inputContainerWithBtn .input {
  width: 80%;
}

.btn {
  width: 20%;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #dddddd;
  color: black;
  font-size: 0.8rem;
  letter-spacing: var(--p-letter-spacing);
}

.savebtn,
.fileinput::file-selector-button {
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #dddddd;
  color: black;
  font-size: 0.8rem;
  letter-spacing: var(--p-letter-spacing);
}

.savebtn:hover,
.fileinput::file-selector-button:hover {
  cursor: pointer;
  background: #c8c8c8;
}

.addbtn {
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: var(--p-letter-spacing);
}

.addbtn:hover {
  background-color: #000000;
  cursor: pointer;
}

.roundbtn {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: none;
  background-color: #d1f0ff;
  color: black;
  font-size: 1rem;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #cacaca;
  cursor: pointer;
}

.greenbtn {
  width: 100%;
  height: 4rem;
  border-radius: 0.2rem;
  border: none;
  background-image: linear-gradient(107.7deg, rgba(235, 230, 44, 0.55) 8.4%, rgba(252, 152, 15, 1) 90.3%);
  font-size: 1.5rem;
  font-weight: 600;
  /*margin-top: 24px;*/
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.greenbtn:hover {
  background-color: #8bff70;
  cursor: pointer;
}

.select {
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;
}

.input {
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  box-sizing: border-box;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input:focus, .textarea:focus {
  outline: 1px solid #cfcfcf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textarea {
  border-radius: 0.2rem;
  border: none;
  padding: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.twocolgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.added {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  column-gap: 4px;
  letter-spacing: var(--p-letter-spacing);
}

.orderbtn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderbtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .editor {
    width: 100%;
    height: fit-content;
    overflow-y: unset;
    max-height: unset;
  }

  .inputContainer {
    width: 100%;
  }
}