.greenbtn {
  height: 4rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #00d161;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.greenbtn:hover {
  background-color: #00bd56;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  
}