.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 10mm;
  width: 65%;
}

.reference {
  width: 210mm;
  position: absolute;
  height: 0;
}

.content {
  width: 210mm;
  min-height: 297mm;
  transform-origin: top center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10mm;
  position: absolute;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contentstart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.section h3 {
  font-size: 18px;
}

.name {
  font-size: 24px;
}

.title {
  font-size: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
}

.summary {
  font-size: 16px;
}

.experience, .education, .skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entries {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.entry {
  display: grid;
  grid-template-columns: 25% 75%;
}

.entry:hover {
  background: #ededed;
  cursor: pointer;
}

.fromto {
  font-size: 12px;
}

.gapeight {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.entry ul {
  padding: 0;
  list-style-position: inside;
}

@media screen and (max-width: 1000px) {
  .preview {
    position: relative;
    top: unset;
    width: 100%;
  }
}
